:root{
  --theme-blue: #3E65A0;
  --theme-blue-dark: #2B4E84;
  --theme-white: #FFFFFF;
}
@font-face {
font-family: nunito;
src: url('assets/fonts/Nunito-Regular.ttf');
}
@font-face {
font-family: bobcayge;
src: url('assets/fonts/bobcaygr.ttf');
}
body, html{
    background-image: url(assets/wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  font-family: nunito;
 height: 90%;
}
.wrapper{
  position: relative;
  height: 100%;
  border: 1px solid green;
}
.container{
  min-height: 100%;
}
.footer{
  position: absolute;
  bottom: 0px;
  font-size: 10px;
  margin: 0 auto;
  text-align: center;
}
.labels{
  display: block;
  font-size: 12px;
}
.inputfields{
  position: relative;
  box-shadow: 4px 4px 24px 1px rgba(0,0,0,0.75);
  background-color: var(--theme-blue);
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  display: inline-block;
  margin-top: 5%;
  color: white;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;

}
.inputfields input[type=text],.inputfields input[type=password]{
  margin-bottom: 10px;
  outline: none;
  border-radius: .5em;
  border: none;
  padding: 1%
}
a{
  color: white;
}
/* For dashboard */
.complainbox{

}
#dash_display{
position: absolute;
right: 1%;
width: 25%;
border-top-right-radius: 1em;
border-bottom-left-radius: 1em;
}
.dash_name{

}
.inputReason{
  position: relative;
  /* border: 5px dotted green; */
}
.counter{


  right: 0px;
  top: 5px;

}
.fields{
  position: relative;
box-shadow: 4px 4px 24px 1px rgba(0,0,0,0.75);
background-color: var(--theme-blue);
padding: 1%;
width: 60%;
padding-left: 5%;
padding-right: 5%;

color: white;
border-top-right-radius: 1em;
border-bottom-left-radius: 1em;
margin: 0 auto;
margin-top: 5%;
}
#submitbtn{
  margin-top: 1%;
}
.fieldLables{
  margin-right: 5%;
}
.avatar_small{
  position: absolute;
  border-top-right-radius: .4em;
  border-bottom-left-radius: .4em;
  width: 40%;
  top: 0px;
  left: 100px;

}
/* For Verify Page */
.avatars{
  width: 40%;
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;

}
.mydiv{
  margin: 0 auto;
  width: 80%;

}
.passwordfield{
  box-shadow: 4px 4px 24px 1px rgba(0,0,0,0.75);
  background-color: var(--theme-blue);
  width: 320px;
  padding: 1%;
  display: inline-block;
  margin-top: 5%;
  color: white;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
}
.passwordfield input[type=text],.passwordfield input[type=password]{
  margin-bottom: 10px;
  outline: none;
  border-radius: .5em;
  border: none;
  width: 100%;
  padding: 1%
}
/* For Pending  */
.complains{
  box-shadow: 4px 4px 24px 1px rgba(0,0,0,0.75);
  background-color: var(--theme-blue);
  padding: 1%;
  display: inline-block;
  /* padding-left: 5%;
  padding-right: 5%; */
  color: white;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  margin: 0 auto;
  margin-top: 5%;
  /* border: 5px solid yellow; */
}
table {
  border-collapse: separate;
  border-spacing: 15px 10px;
  /* border: 3px solid red; */
  margin: 0 auto;
}
th{
  color: white;
}
td{
  color: white;
/*
  padding-bottom: 2%;
  padding-right: 10px;
*/
  /* border: 5px solid green; */
}
.contentclass{

}

/* For community */
.complains_c{
  box-shadow: 4px 4px 24px 1px rgba(0,0,0,0.75);
  background-color: var(--theme-blue);
  padding: 1%;
  display: inline-block;
  /* padding-left: 5%;
  padding-right: 5%; */
  color: white;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  margin: 0 auto;
  margin-top: 5%;
  width: 100%;
    overflow: auto;
  max-height: 90%;
  /* border: 5px solid yellow; */
}
table{
    width: 100%;
}

.avatar_lists{
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  /* border: 5px solid red; */


}
/*  For Mobile */
@media screen and ( max-width: 991px ){
.avatar_small{
  display: none;
}    
}
@media screen and ( max-width: 500px ){
body{

}
#bar{
  display: none;
}
.avatar_small{
  display: none;
}
.fields{
width: 100%;
}
.submitbtn{

}
.complains{
width: 100%;
}
table {
  border-collapse: separate;
  border-spacing: 0px 0px;
  margin: 0 auto;
}
td{
  /* font-size: 8px; */
  /* background-color: pink; */
   padding-right: 0px;

}
.avatar_lists{
  width: 75%;
}
}
