:root{
  --theme-blue: #3E65A0;
  --theme-blue-dark: #2B4E84;
  --theme-white: #FFFFFF;
}
body{

}
.labels{
  display: block;
  font-size: 12px;
}
.inputfields{
  background-color: var(--theme-blue);
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  display: inline-block;
  margin-top: 5%;
  color: white;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;

}
.inputfields input[type=text],.inputfields input[type=password]{
  margin-bottom: 10px;
  outline: none;
  border-radius: .5em;
  border: none;
  padding: 1%
}
a{
  color: white;
}
/* For dashboard */
.complainbox{

}
.fields{
background-color: var(--theme-blue);
padding: 1%;
width: 60%;
padding-left: 5%;
padding-right: 5%;

color: white;
border-top-right-radius: 1em;
border-bottom-left-radius: 1em;
margin: 0 auto;
margin-top: 5%;
}
#submitbtn{
  margin-top: 1%;
}
.fieldLables{
  margin-right: 5%;
}
.avatar_small{
  position: absolute;
  width: 40%;
  top: 0px;
  left: 100px;

}
/* For Verify Page */
.avatars{
  width: 40%;
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;

}
.mydiv{
  margin: 0 auto;
  width: 80%;
}
.passwordfield{
  background-color: var(--theme-blue);
  width: 320px;
  padding: 1%;
  display: inline-block;
  margin-top: 5%;
  color: white;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
}
.passwordfield input[type=text],.passwordfield input[type=password]{
  margin-bottom: 10px;
  outline: none;
  border-radius: .5em;
  border: none;
  width: 100%;
  padding: 1%
}
/* For Pending  */
.complains{
  background-color: var(--theme-blue);
  padding: 1%;
  width: 60%;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  margin: 0 auto;
  margin-top: 5%;
  /* border: 5px solid yellow; */
}
table {
  border-collapse: separate;
  border-spacing: 15px 10px;
  /* border: 3px solid red; */
  margin: 0 auto;
}
th{
  color: white;
}
td{
  color: white;
  padding-bottom: 2%;
  padding-right: 10px;
  /* border: 1px solid green; */
}
.contentclass{

}

/*  For Mobile */

@media screen and ( max-width: 500px ){
body{

}
#bar{
  display: none;
}
.avatar_small{
  display: none;
}
.fields{
width: 100%;
}
.submitbtn{

}
}
